<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function postVal(){
            var formdata = new FormData()
            u = document.getElementById("username")
            e = document.getElementById("useremail")
            formdata.append(u.name, u.value)
            formdata.append(e.name, e.value)
            xhr = new XMLHttpRequest()

            xhr.onreadystatechanged = function(){
                if (xhr.readyState == 4 && xhr.status == 200){
                    console.log(xhr.responseText)
                    alert(xhr.responseText)
                }
            }
            xhr.open("post","/getValues")
            xhr.send(formdata)
        }
    </script>
</head>
<body>
    <form action="/getValues" method="post">
        <p>Name: <input type="text" name="username" id="username"></p>
        <p>Email: <input type="email" name="useremail" id="useremail"></p>
        <p><input type="button" value="submit" onclick="postVal()"></p>
    </form>
</body>
</html>